.my-header.mui-bar-nav,
.my-footer.mui-bar-tab{
	background-color:#006699;
}
.my-header.mui-bar-nav .mui-title,
.my-footer.mui-bar-tab .mui-tab-item .mui-icon,
.my-footer.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{
	color:#fff;
}
.my-footer.mui-bar-tab .mui-tab-item.mui-active .mui-icon,
.my-footer.mui-bar-tab .mui-tab-item.mui-active .mui-tab-label
{
    color: darkorange;
}
.my-header .mui-icon{
	color:#fff;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/* 按钮的公共样式 */
.button{
	padding: 10px;
}
.button .btn{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	background-color: #006699;
	border-radius: 3px;
	font-size: 14px;
}